In [1]:
print('Hello World !')

Hello World !

In [54]:
#check python verson
import sys
print(sys.version)

3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 06:08:53)
[GCC 9.4.0]

In [55]:
print (sys.version)

3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 06:08:53)
[GCC 9.4.0]

In [8]:
print("This will be printed")
print("This will cause an error")
print("This will NOT be printed")

This will be printed
This will cause an error
This will NOT be printed

In [9]:
print('Hello World!') #Print the traditional hello world

Hello World!

In [10]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [11]:
int(1)

1

In [12]:
int(2.3)

2

In [13]:
float(2)

2.0

In [14]:
int(4.6)

4

In [17]:
type(True)

bool

In [18]:
False

False

In [19]:
int(True)

1

In [20]:
float(True)

1.0

In [21]:
6/2

3.0

In [22]:
6//2

3

In [24]:
x=3+2+2
x

7

In [25]:
y=3*2+2
y

8

In [26]:
x+y

15

In [27]:
a="1"

In [28]:
str(1+1)

'2'

In [1]:
x=20+30+10
x

60

In [4]:
print(x)

60

In [5]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [6]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [7]:
# Digitals and spaces in string
'1 2 3 4'

'1 2 3 4'

In [1]:
"1234"

'1234'

In [5]:
# Assign string to variable
name = "Michael Jackson"
name

'Michael Jackson'

In [19]:
# Print the first element in the string
print(name[0])

M

In [20]:
# Print the element on index 6 in the string
print(name[6])

l

In [21]:
# Print the element on index 13 in the string
print(name[13])

o

In [22]:
# Print the last element in the string
print(name[-1])

n

In [23]:
# Print the first element in the string
print(name[-15])

M

In [24]:
# Find the length of string
len("Michael Jackson")

15

In [26]:
# When taking the slice, the first number means the index (start at 0), and
# the second number means the length from the index to the last element you want (start at 1)
# Take the slice on variable name with only index 0 to index 3
name[0:4]

'Mich'

In [2]:
# Mathematical expression

# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [3]:
y = x/60
y
print (y)

2.6666666666666665

In [6]:
name[8:12]

'Jack'

In [7]:
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

'McalJcsn'

In [8]:
# Get every second element in the range from index 0 to index 4
# 0 is the starting index
# 5 is the length starting with 1 from the first letter - Micha
# 2 is to get every second element

name[0:5:2]

'Mca'

In [9]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [12]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [13]:
# New line escape sequence

print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [14]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [15]:
# Convert all the characters in string to upper case

a = 'Thriller is the six studio ablum'
print ('before upper:', a)

before upper: Thriller is the six studio ablum

In [16]:
b=a.upper()
print ("After Upper:", b)

After Upper: THRILLER IS THE SIX STUDIO ABLUM

In [23]:
# Replace the old substring with the new target substring is the segment has been found in the string
a= "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')

In [24]:
print (b)

Janet Jackson is the best

In [25]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [26]:
# Find the substring in the string.

name.find('Jack')

8

In [27]:
# If cannot find the substring in the string, then output is a negative

name.find('Jasdfasdasdf')

-1

In [29]:
a="1"
a

'1'

In [31]:
b='2'
b='2'
b

'2'

In [32]:
c=a+b
c

'12'

In [36]:
#use slicing to print out the first three elements:
d='ABCDEFG'
d
d[0:3]

'ABC'

In [37]:
#ANOTHER METHOD
#use slicing to print out the first three elements:
d='ABCDEFG'
print(d[:3])

ABC

In [38]:
#ANOTHER METHOD
#use slicing to print out the first three elements:
d='ABCDEFG'
print(d[0:3])

ABC

In [39]:
#Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
print (e[::2])

correct

In [44]:
#Print out a backslash:
print ("\\")

\

In [46]:
print (r"\ ")

\

In [51]:
#Convert the variable f to uppercase:
f = "You are wrong"
g = f.upper()
print (g)

YOU ARE WRONG

In [52]:
#Consider the variable g, and find the first index of the sub-string snow:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
h=g.find('snow')
print (h)

95

In [53]:
#In the variable g, replace the sub-string Mary with Bob:
i=g.replace('Mary','Bob')
print(i)

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go